@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar {
  .sidebar-wrapper {
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;

    ul {
      li {
        a.active {
          font-weight: 600;
        }
      }
    }
  }
}

.page-content {
  width: calc(100% - 300px);
  margin-left: 300px;
}